/* --------------- global elements -------------------------- */

html, body {
    height: 100%;
}

html { font-size: 62.5%; }

h1, h2, h3, h4 {
    font-style:normal;
}

h1 {
    font-size:3rem;
    font-size: 30px;
}

h2 {
    font-size:24rem;
    font-size: 24px;
    clear:left; /* The heading after the submenu has to be left again */
}

h3 {
    font-size:1.8rem;
    font-size: 18px;
}

h4 {
    color: #000;
    font-size:1.6rem;
    font-size: 16px;
}
a:link {
    color:#9CA3AF;
    text-decoration:none;

}

a:visited {
    color:#1a0dab;
    text-decoration:underline;
}

a:hover {
    color:#1a0dab;
    text-decoration:underline;
}

/*----------
<form>
*/
form.search {
    text-align:center;
    margin:0;
}
form.search.small {
    text-align:left;
    margin-bottom:5px;
    white-space:nowrap;
}

.searchinput {
    font-size:18px;
}

#resNav {
    /* right part of the progress bar */
    float:left;
}

.pagination > li > a {
    background: url();
}